#tableroBlanco{
  background: #ffffff;
  width: 800px;
  height: 900px;
  border: solid;
}
#fila1, #fila2, #fila3, #fila4, #fila5, #fila6, #fila7, #fila8, #fila9{
  display: flex;
  flex-direction: row;
}
.negro{
  position: relative;
  width: 100px;
  height: 100px;
  background: #000000;
}
.blanco{
  position: relative;
  width: 100px;
  height: 100px;
  background: #a3f1cc;
}
.fichaRoja{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: red;
  margin: auto;
  margin-top: 8%;
  z-index:1000;
}
.fichaNegra{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  margin: auto;
  margin-top: 8%;
}
