#tableroBlanco{
  background: #ffffff;
  width: 800px;
  height: 800px;
  border: solid;
}
.negro{
  margin:0px;
  position: relative;
  width: 100px;
  height: 100px;
  background: #000000;
}
.blanco{
  position: relative;
  width: 100px;
  height: 100px;
  background: #a3f1cc;
}
